nav li {
  display: inline-block;
  font-size: 4rem;
}

nav a {
  color: dimgrey;
  margin: 0 1rem;
  text-decoration: none;
}

#list .card {
  cursor: pointer;
  margin-top: 1rem;
}


.hidden {
  display: none;
}
