* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  /* Positioning */
  width: 100%;
  height: 100%;

  /* Typography */
  font-family: 'Dancing Script', cursive;

  /* Visuals */
  background-color: #3a7acb;
  color: white;
}

.header {
  /* Box Model */
  width: 100%;
  padding: 50px;

  /* Typography */
  font-size: 100px;
  font-weight: 700;
  text-align: center;

  /* Visuals */
  background-color: #ec412c;
}

.list {
  /* Positioning */
  width: calc(100% - 200px);
  height: 100%;

  /* Box Model */
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 100px;
  padding: 50px;

  /* Visuals */
  background-color: #2ca94e;
}

#simple-form {
  /* Box Model */
  border-radius: 10px;

  /* Typography */
  text-align: center;
}

#text {
  /* Box Model */
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 30px;

  /* Typography */
  font-weight: 300;
}

#list-items {
  /* Positioning */
  position: relative;

  /* Border */
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;

  /* Typography */
  list-style: none;
  font-size: 30px;
  font-weight: 300;

  /* Visuals */
  background-color: #f16b00;
}

#submit-button {
  /* Box Model */
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;

  /* Visuals */
  background-color: #2ca94e;
  color: white;
}

#delete-button {
  /* Positioning */
  position: absolute;
  right: 30px;
  top: -20px;

  /* Box Model */
  border-radius: 50px;
  margin-top: 30px;
  padding: 20px;

  /* Visuals */
  background-color: black;
  color: white;
}
